# Dipendenze
node_modules/

# Build output
dist/
out/

# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Electron dev
.webpack/
